<!DOCTYPE html>
<html>
<body>
<div class="”container”">

			<h1><a href="”#”">IJburg College</a></h1>
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<ul class="nav">

							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="test.html.erb">360 graden</a></li>
							<li><a href="#">IJburg College</a></li>
							<li><a href="#">Mijn Resultaten</a></li>
							<li><a href="#">Uitnodigen</a></li>
							<li><a href="#">Contact</a></li>

						</ul>
					</div>
				</div>
			</div>

			<div class="hero-unit">
				<h1>Welkom</h1>
				<br/>
				Op deze site kan je de 360 graden feedback doen en ook andere uitnodigen om de test te laten doen!
				<br/>
				<a href="test.html.erb">Doe de test</a>
            </div>
            <button
                class="g-interactivepost"
                data-scope="https://www.googleapis.com/auth/plus.login"
                data-contenturl="http://blooming-sierra-5125.herokuapp.com/home/test.html.erb"
                data-clientid="1015253590116-sucmk4t6hpf1dvgh5ai2tbe6v63t9ijl.apps.googleusercontent.com"
                data-cookiepolicy="single_host_origin"
                data-prefilltext="I'd appreciate your feedback!"
                data-calltoactionlabel="ANSWER_QUIZ"
                data-calltoactionurl="http://blooming-sierra-5125.herokuapp.com/home/test.html.erb">
                Invite for feedback!
            </button>
</body>
<footer>
		<hr>
		<div class="footer">
		<p>&copy;IJbc team5 2013</p>
		</div>

</footer>
</html>
