<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>360 feedback</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
	</head>
	<body>

		<div class="”container”">

			<h1><a href="”#”">IJburg College</a></h1>
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<ul class="nav">

							<li><a href="index.html">Home</a></li>
							<li class="active"><a href="360graden.html">360 graden</a></li>
							<li><a href="#">IJburg College</a></li>
							<li><a href="#">Mijn Resultaten</a></li>
							<li><a href="#">Uitnodigen</a></li>
							<li><a href="#">Contact</a></li>

						</ul>
					</div>
				</div>
			</div>

			<div class="hero-unit">
				<h1> 360 graden feedback</h1>
				<br/>
				<iframe src="https://docs.google.com/forms/d/1qQ3Vf3YG02BJz25yFjDFRuhzorA7NrDedbHygGsjrbc/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Bezig met laden...</iframe>
			</div>
			


		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
	<footer>
		<hr>
		<div class="footer">
		<p>&copy;IJbc team5 2013</p>
		</div>

	</footer>